@import "../../../scss/base";

#purchaseGiftContainer {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  @include tablet {
    padding: 0 1rem;
    margin: 1rem;
    margin-top: 3rem;
  }
  @include desktop {
    margin: 3rem 4rem;
    display: flex;
    justify-content: center;
  }
  .purchaseGift_title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    @include mobile {
      width: 100%;
      // gap: 0.1rem;
      font-size: 1.5rem;
      text-align: center;
      padding: 0 1.8rem;
      margin-bottom: 1.5rem;
      // justify-content: space-between;
    }
    span {
      font-weight: 600;
      font-size: 1.8rem;
      letter-spacing: 1px;
      color: transparent;
      background: linear-gradient(to bottom, #1081ab, black);
      /* Clip the background to the text */
      -webkit-background-clip: text;
      background-clip: text;
      /* Set the text color to transparent to show the gradient background */
      color: transparent;
      @include mobile {
        font-size: 1.6rem;
        width: 70%;
      }
      @media (prefers-color-scheme: dark) {
        background: linear-gradient(to bottom, #1081ab, #00bfff);
        /* Clip the background to the text */
        -webkit-background-clip: text;
        background-clip: text;
        /* Set the text color to transparent to show the gradient background */
        color: transparent;
      }
    }
  }

  .purchaseGift_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    .description {
      background: linear-gradient(to bottom right, #1a202c, #2d3748, #4a5568);
      padding: 10px;
      border-radius: 10px;
      box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.347);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // margin-top: 1rem;
      @include tablet {
        justify-content: center;
      }
      @include desktop {
        // flex-direction: row;
        width: 80%;
        justify-content: center;
      }
      p {
        font-size: 1.15rem;
        // text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        letter-spacing: 1px;
        text-wrap: pretty;
        @include tablet {
          font-size: 1.3rem;
        }
      }
    }
    .purchaseGift_imgContainer {
      display: flex;
      justify-content: center;
    }
    @include desktop {
      // flex-direction: row;
      justify-content: center;
      gap: 1rem;
    }
  }
}
