@import "../../../scss/base";

#purchaseGiftContainer {
  margin-top: 0.6rem;
  margin-bottom: 0.2rem;
  padding: 0 0.6rem;
  display: flex;
  flex-direction: column;
  color: #2d3748;
  justify-self: center;
  @include tablet {
    padding: 0 1rem;
    margin: 1rem;
    margin-top: 3rem;
  }
  @include desktop {
    margin: 3rem 4rem;
    display: flex;
    justify-content: center;
    width: 70%;
    align-items: center;
  }
  .purchaseGift_title {
    // display: flex;
    // justify-content: center;
    color: #2d3748;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    @include mobile {
      width: 100%;
      // gap: 0.1rem;
      font-size: 1.5rem;
      // text-align: center;
      // padding: 0 0.4rem;
      margin-bottom: 1.5rem;
      // justify-content: space-between;
    }
    span {
      font-size: 0.7rem;
      letter-spacing: 0.8px;
      @include desktop {
        font-size: 0.8rem;
      }
    }
    h2 {
      font-size: 1.1rem;
      font-weight: 600;
      // text-align: center
      @include tablet {
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }
      @include desktop {
        font-size: 2rem;
      }
      @media (prefers-color-scheme: dark) {
        background: linear-gradient(to bottom, #1081ab, #00bfff);
        /* Clip the background to the text */
        -webkit-background-clip: text;
        background-clip: text;
        /* Set the text color to transparent to show the gradient background */
        color: transparent;
      }
      span {
        font-size: 1rem;
      }
    }
    hr {
      height: 3px;
      width: 25vw;
      background: linear-gradient(to bottom right, #1a202c, #2d3748, #4a5568);
      margin-top: 0.3rem;
    }
  }

  .purchaseGift_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    .description {
      // background: linear-gradient(to bottom right, #1a202c, #2d3748, #4a5568);
      // padding: 10px 0.6rem;
      // border-radius: 10px;
      // box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.347);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // margin-top: 1rem;
      @include tablet {
        justify-content: center;
      }
      @include desktop {
        // flex-direction: row;
        // width: 80%;
        align-items: flex-start;
      }
      p {
        font-size: 1.1rem;
        // text-align: left;
        display: flex;
        flex-direction: column;
        
        text-wrap: pretty;
        width: 100%;
        @include tablet {
          font-size: 1.3rem;
        }
      }
      ul {
        padding: 0rem 0.5rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        // text-align: center;
        gap: 0.8rem;
        font-size: 1.1rem;
        color: black;
      }
    }
    .purchaseGift_imgContainer {
      display: flex;
      justify-content: center;
      max-height: 350px;
      margin-top: 1rem;
      overflow: hidden;
      img {
        object-fit: contain;
      }
    }
    @include desktop {
      // flex-direction: row;
      justify-content: center;
      gap: 1rem;
    }
  }
}
