@import "../../../scss/base";

#reviews {
  margin-top: 1.5rem;
  margin-bottom: 1.7rem;
  padding: 0rem 0.8rem;
  @include tablet {
    margin-top: 2rem;
    padding: 0rem 3rem;
  }
  @include desktop {
    margin-top: 3rem;
    padding: 0rem 12rem;
  }
  .embla {
  overflow: hidden;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 80%;
  --text-body: black;
  --detail-high-contrast: grey;
  --detail-medium-contrast: grey;
  .embla__viewport {
  overflow: hidden;
}
  .embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  // padding-left: var(--slide-spacing);
  border-radius: 20px;
  background: linear-gradient(to bottom right, #1a202c, #2d3748, #4a5568);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.347);
  margin: 0.4rem;
  align-content: center;
  .reviewContainer {
    display: flex;
    padding: 0.3rem;
    gap: 0.7rem;
    align-items: center;
    .left{
      flex: 1.2;
      .reviewImg {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: black;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    .right {
      flex: 3;
      @include desktop {
        display: flex;
        flex-direction: column;
        align-self:flex-start;
        margin-top: 2rem;
          }
      .up{
        display: flex;
        gap: 0.5rem;
        .nameReviewer {
          font-size: 1rem;
          font-weight: 600;
          display: flex;
          flex-direction: column;
          @include desktop {
            font-size: 1.2rem;
          }
          span {
            font-weight: 400;
            font-size: 0.7rem;
            @include desktop {
            font-size: 0.9rem;
          }
          }
        }
        .starsContainer {
          display: flex;
          gap: 0.2rem;
          align-items: flex-start;
          .starItem {
            width: 18px;
            display: flex;
            
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
      .reviewComment {
        margin-top: 0.1rem;
      p {
        font-size: 0.9rem;
        text-wrap: pretty;
        @include desktop {
            font-size: 1rem;
            margin-top: 1.2rem;
          }
      }
      }
    }

  }
}
//*Controls//
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 0.9rem;
  
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
  color: black;
  @media (prefers-color-scheme: dark) {
    color: white;
  }
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 2.2rem;
  height: 2.2rem;
  z-index: 1;
  border-radius: 50%;
  // color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (prefers-color-scheme: dark) {
    // box-shadow: inset 0 0 0 0.2rem white;
  }
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 0.4rem;
  // margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 1.3rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
  @media (prefers-color-scheme: dark) {
    box-shadow: inset 0 0 0 0.2rem white;
  }
}
.embla__slide {
  transition: opacity 0.2s ease-in-out;
}
.embla__slide:not(.is-snapped) {
  opacity: 0.16;
}
}
}



