@import "../../../scss/base";

footer {
  width: 100%;
  height: auto;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
   // background-color: #f8f8f8;
  padding: 1rem;
  font-size: 0.7rem;
  text-align: center;
  // color: #333;
  @include mobile {
    margin-top: 1.3rem;
  }
  @include tablet {
    margin-top: 1.3rem;
  }
  @include desktop {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
 
  .terms {
    max-width: 900px;
    margin: 0 auto;
    @include desktop {
      margin: 0 1rem;
    }
    .terms-title {
      font-size: 0.84rem;
    }
    p {
      margin: 10px 0;
      text-align: start;
      a {
        color: #00b894;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    strong {
      font-weight: 600;
    }
    
  }
  .footer_imgContainer {
    width: 150px;
    display: flex;
    flex-direction: column;
    @include mobile {
      align-items: flex-start;
      margin-top: 1rem;
      width: 100%;
      flex-direction: row;
    }
    @include tablet {
      align-items: flex-start;
      margin-top: 1rem;
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    @include tablet {
      flex-direction: column;
    }
    img {
      object-fit:cover;
      @include mobile {
        width: 200px;
        height: 50px;
        object-fit: cover;
      }
      @include tablet {
        height: 100px;
      }
    }
    .icons {
      display: flex;
      align-items: center;
     a {
      display: flex;
      align-items: center;
      width: 17px;
      height: 17px;
      @include desktop {
        width: 30px;
        height: 25px;
      }
     }
    }
  }
  .sign {
    position: absolute;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    bottom: 0;
    right: 0;
    color: white;
    @include mobile {
      font-size: 0.6rem;
    }
  }
}
