@import "../../scss/base";

#dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background: var(--background-color);
  background: linear-gradient(to bottom right, #6983b8d6, #16376fc3, #3b5991a1);
  // color: black;
  .dashboard {
    width: 100%;
    @include mobile {
      flex-direction: column;
    }
    #dashboard_Content {
      margin-top: 1rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      height: 100%;
      @include mobile {
        padding: 0.5rem;
      }
      @include tablet {
        padding: 0.2rem;
      }
      h1 {
        font-size: 1.7rem;
        font-weight: 600;
        text-align: center;
      }
      .clientsChartContainer {
        // margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-height: 80%;
        padding: 1rem 0 2rem;
        color: black;
        .chartClients {
         overflow-y: scroll;
        }
      }
    }
  }
}