.linkName {
  cursor: pointer;
  &:hover {
    background: linear-gradient(to bottom, #1081ab, #00bfff);
    /* Clip the background to the text */
    -webkit-background-clip: text;
    background-clip: text;
    /* Set the text color to transparent to show the gradient background */
    color: transparent;
  }
}
.cta-btn {
  background: linear-gradient(to bottom right, #1a202c, #2d3748, #4a5568);
  &:hover {
    background: linear-gradient(to bottom, #1081ab, #00bfff);
    color: linear-gradient(to bottom right, #1a202c, #2d3748, #4a5568);
    /* Clip the background to the text */
    // -webkit-background-clip: text;
    // background-clip: text;
    // /* Set the text color to transparent to show the gradient background */
    // color: transparent;
  }
}

