@import "../../../scss/base";

.ctaContainer {
  // background: rgb(43, 43, 43);
  // background: radial-gradient(
  //   circle,
  //   rgba(43, 43, 43, 1) 0%,
  //   rgba(122, 122, 122, 1) 100%
  // );
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3.5rem;
  width: 80%;
  @include mobile {
    justify-content: center;
    margin-top: 0.3rem;
    width: 100%;
  }
  @include tablet {
    justify-content: center;
    width: 60%;
    margin-top: 2rem;
  }

  button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
    // border: solid 0.5px black;
    // background: var(--cta-button);
    color: white;
    border-radius: 15px;
    padding: 0.7rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.347);
    cursor: pointer;
    transition: all 0.3s ease-in;

    @include mobile {
      font-size: 1rem;
      padding: 0.5rem;
      gap: 0rem;
    }
    @include tablet {
      width: 70%;
      font-size: 1.5rem;
    }
    @include desktop {
      width: 50%;
    }
    &:hover {
      transform: scale(1.1);
    }
    span {
      display: flex;
      // gap: 0.5rem;
      @include tablet {
        gap: 1rem;
      }
      &:nth-child(2) {
        font-size: 0.8rem;
        @include tablet {
          font-size: 1.1rem;
        }
      }
      // &:nth-child(3) {
      //   font-size: 0.85rem;
      // }
    }
  }
}
